        <!-- Contains the web page document’s footer information  -->
        <footer>
            <div class="container py-4">
                <div class="row g-2">
                    <div class="col-sm-4 align-items-center">
                        <h4>Fitwell</h4>
                        <p>Your companion for a healthier, more balanced lifestyle. Track your progress, plan meals, and stay
                            motivated—anytime, anywhere.</p>
                    </div>
                    <div id="quick_link" class="col-sm-4 d-flex flex-column">
                        <h4>Quick Links</h4>
                        <a href="/FitWell/#home">Home</a>
                        <a href="/FitWell/#aboutUs">About Us</a>
                        <a href="/FitWell/#features">Features</a>
                        <% if (isLoggedIn) { %>
                            <a href="/FitWell/Fitness" id="quicklink_tracker">Fitness Tracker</a>
                            <a href="/layout/ProgressChart.html" id="quicklink_progress">Progress Chart</a>
                            <a href="/FitWell/NutritionPlanner" id="quicklink_nutrition">Nutrition Planner</a>
                            <a href="/layout/CreateReminder.html" id="quicklink_reminder">Reminder</a>
                        <% } %>
                    </div>
                    <div id="contact" class="col-sm-4 align-items-center justify-content-center">
                        <h4>Contact Us</h4>
                        <div class="d-flex flex-row">
                            <i class="fas fa-phone-alt me-3 pt-1"></i>
                            <a href="tel:0123456789">012-345 6789</a>
                        </div>
                        <div class="d-flex flex-row mt-3">
                            <i class="fas fa-envelope me-3 pt-1"></i>
                            <a href="mailto:fitwell@gmail.com">fitwell@gmail.com</a>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="text-center mb-0">Copyright © 2025 All right reserved to FitWell</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/script/<%= scriptFile %>"></script>    
    </body>
</html>