<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Password - FitWell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/SignUp_Login_style.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <!-- Contains the web page document’s main content  -->
    <main>
        <div class="container-fluid">
            <div id="left_side">
                <!-- Web name and logo-->
                <div id="name_and_logo">
                    <img id="logo" src="/images/logo.png" class="img-fluid">
                    <p id="webname">FitWell</p>
                </div>
                <!-- Welcome text -->
                <div id="hover_overlay">
                    <div id="welcome_message">Hi, <br>Don't worry, just simple step to reset password !</div>
                </div>
            </div>
            <div id="right_side">
                <h1>Forgot Password</h1>
                <form id="password_form" action="/FitWell/ForgotPassword" method="POST" class="needs-validated">
                    <p>Don't worry. Please enter the registered email address below and we'll send you the link to reset
                        password.</p>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input id="email" class="form-control" name="email" placeholder="Email" type="email" required>
                    </div>
                </form>
                <button id="btn_send" form="password_form" class="btn btn-lg px-5 border border-2 rounded-pill ">Send
                    Reset Link</button>
                <p><a id="link_login" class="link" href="/FitWell/Login">Back to Login</a></p>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="/script/Auth_script.js"></script>
</body>

</html>